.accomplishment {
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__title-row {
    display: flex;
    align-items: center;
  }

  &__emoji {
    font-size: 24px;
    margin-right: 6px;
  }

  &__title {
    font-weight: 600;
  }

  &__comment {
    font-style: italic;
    line-height: 14px;
    margin-top: 4px;
  }
}
