@import "variables";

.accomplished {
  margin-top: 8px;

  &__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
  }

  &__liking {
    font-size: 32px;
    margin-right: 4px;
  }

  &__comment {
    font-style: italic;
  }

  &__edit {
    color: $green;
    text-decoration: underline;
  }
}
