@import 'variables';

$inputHeight: 16px;

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.form {
  &--vertical {
    margin: 16px 0;

    .form__field, .form__buttons {
      margin-top: 8px;
    }
  }

  &--start {
    text-align: center;
    @include white-box();
  }

  &__error {
    color: $red;
    font-weight: 600;
  }

  &__field {
    input {
      height: $inputHeight;
      padding: 8px;
      width: 200px;
    }
  }
}

.button {
  background-color: #eee;
  border: 1px solid $black;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-appearance: none;
}

.button--primary {
  border: 1px solid $green;
}
