$white: rgba(255, 255, 255, 0.9);

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}
