@import 'variables';

$inputHeight: 16px;

body {
  background: url("../images/grass.jpg") saddlebrown repeat;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.title-2 {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 8px;
}

.title-3 {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 4px;
}

.form {
  &--vertical {
    margin: 16px 0;

    .form__field, .form__buttons {
      margin-top: 8px;
    }
  }

  &--start {
    text-align: center;
    @include white-box();
  }

  &__error {
    color: $red;
    font-weight: 600;
  }

  &__field {
    input {
      border-radius: 4px;
      height: $inputHeight;
      padding: 8px;
      width: 200px;
    }
  }
}

.button {
  background-color: #eee;
  border: 1px solid $black;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-appearance: none;
}

.button--primary {
  border: 2px solid $green;
}

.form__buttons {
  margin-top: 8px;
  .button {
    margin-right: 8px;
  }
}
