@import './variables';

.task {
  @include white-box(false, 16px);

  &--accomplished {
    border: 4px solid $green;
  }

  &--unfinished {
    border: 4px solid $red-light;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__description {
    margin-top: 8px;
  }

  iframe {
    margin: 8px 0;
  }
}

a.youtube-link {
  display: block;
  margin-top: 8px;
}

