$black: rgba(0, 0, 0, 0.8);
$green: rgba(0, 128, 0, 0.8);
$green-light: rgba(0, 88, 0, 0.8);
$red: rgba(255, 0, 0, 0.9);
$red-light: #ff554b;
$orange: rgba(255, 128, 0, 0.8);
$white: rgba(255, 255, 255, 0.9);
$white-60: rgba(255, 255, 255, 0.6);

@mixin white-box() {
  background-color: $white;
  border-radius: 6px;
  color: $black;
  margin-top: 8px;
  padding: 8px;
  -webkit-tap-highlight-color: transparent;
}

.box {
  @include white-box();

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__section {
    margin: 8px 0;
  }
}
