@import 'app/javascript/src/variables';

.player {
  @include white-box();

  &__stats-summary {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__coach-emoji {
    font-size: 32px;
    margin-left: 8px;
  }

  &__stats-bar {
    border: 1px solid #333;
    border-radius: 2px;
    height: 24px;
    width: 100%;
    margin-top: 8px;
  }

  &__stats-done {
    height: 24px;
  }

  &__intro {
    color: $red;
    font-weight: 600;
    margin: 8px 0;
  }

  &__url-title {
    font-weight: 600;
    margin-bottom: 4px;
  }
}
