@import 'app/javascript/src/variables';

.task {
  margin: 8px 0 16px;

  &--unfinished {
    border: 4px solid $red;
  }

  iframe {
    margin: 8px 0;
  }

  &__accomplisher {
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__accomplisher-emoji {
    font-size: 24px;
    margin-right: 6px;
  }

  &__accomplisher-comment {
    font-style: italic;
    line-height: 14px;
    margin-left: 8px;
  }
}

a.youtube-link {
  display: block;
  margin-top: 8px;
}

